<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Custom -->
  <link rel="stylesheet" href="../static/style.css" type="text/css"></style>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Мои задания</a>
    </div>
  </div>
</nav>

<div class="container-fluid container-driver">
  <div class="row">
    <div class="col-xs-4">

    	<div id="taskFetching">
    		<h2>Получаем задание...</h2>
    	</div>

    	<div id="taskNotask" class="hide">
    		<h2>Нет заданий</h2>
    	</div>

    	<div id="taskFetchError" class="hide">
    		<h2>Ошибка при получении задания</h2>
    	</div>

      <div class="task-active hide" id="taskActive">
        <h2 id="taskRouteName">Маршрут из ебеней в хуилово</h2>
        <p id="taskTime">Сегодня с 9:00 до 14:00</p>
        <p class="text-muted" id="taskTechOp">Полить говном</p>
        <ol class="odhs" id="taskOdhList">
          <li>Мамоновский пер.</li>
          <li>Тверская ул.</li>
          <li>Новопушкинский сквер</li>
        </ol>
        <p class="text-muted" id="taskComment">Лей хорошо, сука</p>

        <button class="btn btn-md btn-success" id="taskCompletedButton">Задание выполнено</button>
      </div>

      </div>
      <div class="col-xs-8 map-container" id="map">
      </div>
    </div>
  </div>

	<!-- Google Maps -->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnIl72FwOWrtgcOeFCvuOf7AvRAmxRYXA&libraries=geometry,drawing"></script>

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-1.12.3.min.js" integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ=" crossorigin="anonymous"></script>

	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<!-- Custom -->
	<script src="../static/map.js"></script>
	<script src="../static/task.js"></script>

</body>
</html>