<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <style src="/static/style.css" type="text/css"></style>



</head>
<body>

<div class="container-fluid container-driver">
    <div class="row">
      <div class="col-xs-4">

        <div class="task-active">
          <h2>Маршрут из ебеней в хуилово</h2>
          <p>Сегодня с 9:00 до 14:00</p>
          <p class="text-muted">Полить говном</p>
          <ol class="odhs">
            <li>Мамоновский пер.</li>
            <li>Тверская ул.</li>
            <li>Новопушкинский сквер</li>
          </ol>
          <p class="text-muted">Лей хорошо, сука</p>

          <button class="btn btn-md btn-success">Задание выполнено</button>
        </div>


      </div>
      <div class="col-xs-8 map-container">
        googleMap name="main_map" options=exampleMapOptions
      </div>
    </div>
  </div>


{#{{ form }}#}
</body>
</html>